body {
  background-color: white;
}

button {
  border: 2px outset rgb(0, 0, 0);
  border-radius: 2px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.todo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-section > * {
  width: 400px;
}

.input-todo {
  display: flex;
}

.todoList-container {
  display: flex;
  flex-direction: column;
}

.todo-container {
  display: flex;
  /* justify-content: space-evenly; */
  background-color: white;
  margin-top: 5px;
  padding: 10px;
  border: 2px outset rgb(236, 236, 236);
  border-radius: 5px;
}

.todo-container div:nth-child(1) {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container div:nth-child(2) {
  flex: 2.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-todo {
  /* margin-left: 3px; */
  gap: 2px;
}

.input-todo input {
  border-radius: 2px;
  flex: 1;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}
