body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.185);
  padding: 10px;
  transition: 0.25s;
}

button:hover {
  /* transform: translate3d(0px, 0px, 0px); */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  z-index: 10;
  transition: 0.25s;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.todo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.todo-section > * {
  width: 500px;
}

.todoList-container {
  display: flex;
  gap: 10px;
}

.todo-container {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;

  /* transform: translate3d(0px, 0px, 0px); */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  z-index: 1;
  transition: 0.15s;
}

.todo-container:hover {
  /* transform: translate3d(0px, 0px, 0px); */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 16px 32px 0px;
  z-index: 10;
  transition: 0.15s;
}

.todo-container div:nth-child(1) {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container div:nth-child(2) {
  flex: 2.4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo-container div:nth-child(3) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2px;
}

.input-todo {
  display: flex;
  gap: 2px;
}

.input-todo input,
input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}
